<div class="container text-center">
  <h1>Hello, Rails!</h1>
  <%= link_to 'My Blog', controller: 'articles' %>
  <br>
  <div class="btn btn-primary">
  <%= link_to 'New article', new_article_path, :class => "btn" %>
  </div>
</div>


<div class="container">
<a href="#" onclick="this.style.backgroundColor='#990000';event.preventDefault();">Paint it red</a>


</div>